* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aquamarine;
}
.container {
  background-color: #ececec;
  width: 150vmin;
  padding: 90px 80px 60px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(68, 66, 66);
}
h1
{
  text-align: center;
  font-family: 'Lexend', sans-serif;
}
.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 4px;
  border: none;
  background-color:#ececec;
  outline: none;
  color: #000000;
}
select {
  padding: 7px;
  border: 1px solid #000000;
  border-radius: 3px;
}
.options label,
.options select {
  font-family: "Poppins", sans-serif;
}
.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}
#text-input {
  margin-top: 10px;
  border: 1px solid #dddddd;
  padding: 30px,30px;
  height: 40vh;
}
.active {
  background-color: #e0e9ff;
}
